/* top right bottom left*/
/* General */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  overflow: hidden;
}

img {
  float: left;
  height: 15%;
  width: 15%;
  padding: 10% 5% 10% 10%;
}

#branding {
  float: left;
  background-color: white;
}

#branding h1 {
  font-size: 32px;
  padding: 15% 0 150px 0;
  color: #272727;
  margin: 0;
}

#menu-nav > img {
  position: -webkit-sticky;
  position: sticky;
}

#menu-nav {
  display: block;
  position: fixed;
  height: auto;
  right: 0;
  top: 0;
  z-index: 1000;
  padding: 5% 0;
}

#menu-nav > ul {
  display: none;
}

#menu-nav:hover > ul {
  display: block;
  background-color: white;
}

#menu-nav:hover > ul > li {
  list-style-type: none;
  background-color: white;
  padding: 5%;
  display: inline-block;
  line-height: 50%;
  vertical-align: middle;
  margin-right: 100%;
}

#menu-nav:hover > ul > li:hover {
  color: #777777;
}

#menu-nav > img {
  height: 30%;
  width: 30%;
}

#main-content {
  display: -ms-grid;
  display: grid;
}

#lorem h1 {
  background-color: #2b91e4;
}

#ipsum h1 {
  background-color: #e6ae66;
}

#dolor h1 {
  background-color: #cd9dec;
}

.lorem_ipsum {
  color: #272727;
  background-color: #acd8bc;
  float: left;
  padding: 60px 25px 0px 25px;
  border: 3px solid black;
  position: relative;
}

.title {
  position: absolute;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  margin: 0;
  top: 0;
  right: 0;
  width: 50%;
  height: 5%;
  text-align: center;
  padding: 3%;
  font-size: 24px;
}

#footer {
  min-width: 150px;
  position: -webkit-sticky;
  position: sticky;
  clear: both;
  background-color: #acd8bc;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 3%;
  border-style: solid;
}

#footer h1 {
  font-weight: 700;
  font-size: 16px;
  vertical-align: middle;
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  img {
    height: 15%;
    width: 15%;
    padding: 10% 5% 10% 10%;
    float: left;
  }
  #branding {
    width: 50%;
    max-height: 500px;
  }
  .container {
    width: 100%;
  }
  #menu-nav {
    display: none;
  }
  #main-nav {
    float: left;
    width: 50%;
    padding-top: 12px;
    background-color: white;
  }
  #main-nav ul {
    float: right;
  }
  #main-nav li {
    float: left;
    padding: 3px 10px 0 10px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
    color: #272727;
  }
  #main-content {
    margin: 0 5% 5% 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
  }
  #main-content > div:nth-child(1) {
    grid-column: span 1;
    background-color: 0;
  }
  #main-content > div:nth-child(2) {
    grid-column: span 1;
    background-color: 0;
  }
  #main-content > div:nth-child(3) {
    grid-column: span 1;
    background-color: 0;
  }
  #footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #branding {
    width: 80%;
  }
  .container {
    width: 98%;
  }
  #main-nav {
    display: none;
  }
  #menu-nav img {
    top: 0;
    right: 0;
    float: right;
    margin-right: 3%;
  }
  #main-content {
    padding: 1%;
    display: -ms-grid;
    display: grid;
    margin: 0 2% 8% 2%;
    -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
    -ms-grid-rows: 45% 45%;
        grid-template-rows: 45% 45%;
    grid-gap: 3% 3%;
  }
  #main-content > div:nth-child(1) {
    grid-column: span 2;
    background-color: 0;
  }
  #main-content > div:nth-child(2) {
    grid-column: span 1;
    background-color: 0;
  }
  #main-content > div:nth-child(3) {
    grid-column: span 1;
    background-color: 0;
  }
  #lorem {
    display: -ms-grid;
    display: grid;
    padding-top: 10%;
    color: #272727;
    background-color: #acd8bc;
    border-style: solid;
  }
  #ipsum, #dolor {
    display: -ms-grid;
    display: grid;
    color: #272727;
    background-color: #acd8bc;
    border-style: solid;
  }
  #footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* Mobile */
@media only screen and (max-width: 599px) {
  #branding h1 {
    display: none;
  }
  #branding {
    width: 100%;
  }
  .container {
    width: 98%;
  }
  #main-nav {
    display: none;
  }
  #menu-nav img {
    top: 0;
    right: 0;
    float: right;
  }
  #main-content {
    width: 80%;
    margin: 0 auto;
  }
  .title {
    height: 35px;
    min-width: 90px;
  }
  #main-content {
    padding: 1%;
    display: -ms-grid;
    display: grid;
    margin: 0 2% 8% 2%;
    -ms-grid-rows: 30% 30% 30% auto;
        grid-template-rows: 30% 30% 30% auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 5%;
  }
  #main-content > div:nth-child(1) {
    grid-row: span 1;
  }
  #main-content > div:nth-child(2) {
    grid-row: span 1;
  }
  #main-content > div:nth-child(3) {
    grid-row: span 1;
  }
  #main-content > div:nth-child(4) {
    grid-row: span 1;
  }
  .lorem_ipsum {
    min-width: 100px;
    display: block;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    color: #272727;
    background-color: #acd8bc;
    padding: 60px 25px 0px 25px;
    border-style: solid;
  }
  #footer {
    width: 110%;
    margin-right: 0;
  }
}
/*# sourceMappingURL=main.css.map */