/* top right bottom left*/
@media only screen and (min-width: 1024px) {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #branding {
    float: left;
    width: 50%;
    background-color: pink;
  }
  #branding h1 {
    font-size: 32px;
    padding: 80px 10px 150px 80px;
    color: #272727;
    margin: 0;
  }
  .container {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }
  #main-nav {
    float: left;
    width: 50%;
    padding-top: 12px;
    background-color: plum;
  }
  #main-nav ul {
    float: right;
  }
  #main-nav li {
    float: left;
    padding: 3px 10px 0 10px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
    color: #272727;
  }
  #main-content {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2% 0 2%;
  }
  .lorem_ipsum {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2% 5% 2%;
    color: #272727;
    background-color: #4c9f6b;
    float: left;
    padding: 50px 25px 0px 25px;
    border-style: solid;
  }
  .title {
    background-color: yellow;
    padding: 1%;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
  }
  #main-content p {
    clear: both;
  }
  #footer {
    clear: both;
    height: 150px;
    background-color: #4c9f6b;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    border-style: solid;
  }
  #footer h1 {
    font-weight: 700;
    font-size: 16px;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html, body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
  }
  #branding {
    float: left;
    width: 50%;
  }
  #branding h1 {
    font-size: 28px;
    padding: 80px 10px 150px 80px;
    color: #272727;
    margin: 0 !important;
  }
  .container {
    margin: 0 auto;
    width: 98%;
    overflow: hidden;
  }
  #main-nav {
    float: left;
    width: 50%;
    padding-top: 12px;
  }
  #main-nav ul {
    float: right;
  }
  #main-nav li {
    float: left;
    padding: 3px 10px 0 10px;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
    color: #272727;
  }
  #lorem {
    width: 60%;
    height: 100%;
    margin: 2%;
    color: #272727;
    background-color: #4c9f6b;
    padding: 2% 1% 2% 1%;
    margin-bottom: 5%;
    border-style: solid;
  }
  #ipsum, #dolor {
    width: 43%;
    margin: 2%;
    float: left;
    color: #272727;
    background-color: #4c9f6b;
    padding: 2% 1% 2% 1%;
    margin-bottom: 5%;
    border-style: solid;
  }
  #footer {
    clear: both;
    height: 150px;
    background-color: #4c9f6b;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    border-style: solid;
  }
  #footer h1 {
    font-weight: 700;
    font-size: 16px;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 767px) {
  .lorem_ipsum {
    width: 80%;
    height: 100%;
    margin: 10%;
    color: #272727;
    background-color: #4c9f6b;
    padding: 2% 1% 2% 1%;
    margin-bottom: 5%;
    border-style: solid;
  }
  #footer {
    clear: both;
    height: 150px;
    background-color: #4c9f6b;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    border-style: solid;
    margin-top: 10%;
  }
  #footer h1 {
    font-weight: 700;
    font-size: 16px;
    vertical-align: middle;
  }
}
/*# sourceMappingURL=main.css.map */