$primary-color: #272727;
$lorem-color: #4c9f6b;
$branding-padding: 80px 10px 150px 80px; /* top right bottom left*/
$main-nav-li-padding: 3px 10px 0 10px;
$lorem-padding: 50px 25px 0px 25px;
$lorem-padding2: 2% 1% 2% 1%;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$font-size: (
    "big": 32px,
    "medium": 28px,
    "normal": 20px,
    "small": 16px
);


@media only screen and (min-width: 1024px){

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    #branding{
        float: left;
        width: 50%;
        background-color: pink;
    }

    #branding h1{
        font-size: map-get($font-size, big );
        padding: $branding-padding; 
        color: $primary-color;
        margin: 0;
    }

    .container{
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }

    #main-nav{
        float: left;
        width: 50%;
        padding-top: 12px;
        background-color: plum;
    }

    #main-nav ul{
        float: right;
    }

    #main-nav li{
        float: left;
        padding: $main-nav-li-padding;
        margin: 0 10px;
        font-size: map-get($font-size, small );
        font-weight: map-get($font-weights, bold );
        list-style: none;
        color: $primary-color;
    }

    #main-content{
        width: auto;
        height: auto;
        display: flex;
        margin: 0 2% 0 2%;
    }

    .lorem_ipsum{
        width: 25%;
        margin: 0 2% 5% 2%;
        color: $primary-color;
        background-color: $lorem-color;
        float: left;
        padding: $lorem-padding;
        border-style: solid;
    }

    .title{
        background-color: yellow;
        padding: 1%;
        width: 100%;
        position: sticky;
    } 

    #footer{
        clear: both;
        height: 150px;
        background-color: $lorem-color;
        font-size: map-get($font-size, small );
        text-align: center;
        vertical-align: middle;
        padding-top: 5%;
        border-style: solid;
    }

    #footer h1{
        font-weight: map-get($font-weights, bold );
        font-size: map-get($font-size, small );
        vertical-align: middle;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

    html, body {
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
    }
    
    #branding{
        float: left;
        width: 50%;
    }
    
    #branding h1{
        font-size: map-get($font-size, medium);
        padding: $branding-padding; 
        color: $primary-color;
        margin: 0;
    }
    
    .container{
        margin: 0 auto;
        width: 98%;
        overflow: hidden;
    }
    
    #main-nav{
        float: left;
        width: 50%;
        padding-top: 12px;
    }
    
    #main-nav ul{
        float: right;
    }
    
    #main-nav li{
        float: left;
        padding: $main-nav-li-padding;
        margin: 0 15px;
        font-size: map-get($font-size, small );
        font-weight: map-get($font-weights, bold );
        list-style: none;
        color: $primary-color;
    }

    #ipsum_dolor{
        display: flex;
    }

    #lorem{
        width: 90%;
        height: 100%;
        margin: 4%;
        color: $primary-color;
        background-color: $lorem-color;
        padding: $lorem-padding2;
        margin-bottom: 5%;
        border-style: solid;
    }

    #ipsum, #dolor{
        width: 43%;
        margin: 2%;
        float: left;
        color: $primary-color;
        background-color: $lorem-color;
        padding: $lorem-padding2;
        margin-bottom: 5%;
        border-style: solid;
    }

    #footer{
        clear: both;
        height: 150px;
        background-color: $lorem-color;
        font-size: map-get($font-size, small );
        text-align: center;
        vertical-align: middle;
        padding-top: 5%;
        border-style: solid;
    }

    #footer h1{
        font-weight: map-get($font-weights, bold );
        font-size: map-get($font-size, small );
        vertical-align: middle;
    }
}

/* Mobile */
@media only screen and (max-width: 767px){
    .lorem_ipsum{
        width: 80%;
        height: 100%;
        margin: 10%;
        color: $primary-color;
        background-color: $lorem-color;
        padding: $lorem-padding2;
        margin-bottom: 5%;
        border-style: solid;
    }

    #footer{
        clear: both;
        height: 150px;
        background-color: $lorem-color;
        font-size: map-get($font-size, small );
        text-align: center;
        vertical-align: middle;
        padding-top: 5%;
        border-style: solid;
        margin-top: 10%;
    }

    #footer h1{
        font-weight: map-get($font-weights, bold );
        font-size: map-get($font-size, small );
        vertical-align: middle;
    }

}