$primary-color: #272727;
$content-color: #acd8bc;
$lorem-color: rgb(43, 145, 228);
$ipsum-color: rgb(230, 174, 102);
$dolor-color: rgb(205, 157, 236);
$hover-color: #777777;
$title-height: 25px;
$margin-tablet: 3vw;
$branding-padding: 15% 0 150px 0; /* top right bottom left*/
$main-nav-li-padding: 2% 0;
$main-nav-margin: 10px 0 auto auto; 
$lorem-padding: 100px 2% 50px 2%;
$footer-padding: 15px 25px;
$img-padding: 10% 5%;
$title-padding: $title-height;
$title-margin: auto;
$main-content-paddig: 2vw auto 40px auto;
$main-content-margin: 10px auto 100px auto;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$font-size: (
    "big": 32px,
    "medium": 24px,
    "small": 16px
);

/* General */
html, body {
    margin: 0 !important;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
}

#logo{
    display: flex;
    padding: 5%;
    padding-top: 7%;
}

img{
    float: left;
    height: 80px;
    width: 80px;
    padding: $img-padding;
}

#branding{
    float: left;
    background-color: white;
    width: 50%;
    display: flex;
}

#branding h1{
    font-size: map-get($font-size, big );
    padding: $branding-padding; 
    color: $primary-color;
    margin: 0;
}

#menu-nav > img{
    position: sticky;
}

#menu-nav{
    display: block; 
    position: fixed;
    height: auto;
    right: 0;
    top:0;
    z-index: 1000;
    padding: 5% 0;
}


.lorem_ipsum, 
#footer{
    border: 3px solid black;
}

#footer{
    text-align: center;
    justify-content: center;
    background-color: $content-color;
    display: flex;
    font-size: map-get($font-size, small );
    flex-shrink: 0;
    max-height: 200px;
    margin-top: auto;
    padding: 30px 0;
    
}

#footer h1{
    
    padding: $footer-padding;
    font-weight: map-get($font-weights, regular );
    font-size: map-get($font-size, small );
    vertical-align: middle;
}

#main-nav{
    display: flex;
    margin: $main-nav-margin;
    float: right;
    width: 50%;
    padding-top: 12px;
    justify-content: space-evenly;
}

#main-nav ul{
    float: right;
    
}

#main-nav li{
    float: left;
    padding: $main-nav-li-padding;
    margin: 0;
    font-size: map-get($font-size, small );
    font-weight: map-get($font-weights, bold );
    list-style: none;
    color: $primary-color;
    text-align: center;
    margin: 15px;
}

.title{
    height: 5%;
    font-size: map-get($font-size, medium );
    padding: $title-padding;
    width: 55%;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    justify-content: center;
    display: flex;
    border-width: 3px;
    max-height: 20px;
    top: 0;
    right: 0;
    margin: $title-margin;
    float: right;
    position: absolute;

}

.lorem_ipsum{
    text-align: justify;
    background-color: $content-color;
    padding: $lorem-padding;
    position: relative;
}

#main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: $main-content-margin;
    padding: $main-content-paddig;
    
    
}

#lorem h1{
    background-color: $lorem-color;
}

#ipsum h1{
    background-color: $ipsum-color;
}

#dolor h1{
    background-color: $dolor-color;
}


/* Desktop */
@media only screen and (min-width: 1025px){

    .lorem_ipsum{
        width: 28%;
    }


    #menu-nav{
        display: none;
    }
    
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px){

    #branding{
        width: 85%;
    }
    
    #main-nav{
        display: none;
    }

    #lorem{
        width: 89vw;
        margin-bottom: $margin-tablet;
    }
    
    #ipsum, #dolor{
        width: 41vw;
    }
}

/* Mobile */
@media only screen and (max-width: 599px){

    #branding{
        width: 85%;
    }
    
    #main-nav,
    #branding h1{
        display: none;
    }

    .lorem_ipsum{
        width: 95%;
        margin: 2.5% 5%;
    }

    
}

