<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src= "https://vitapol.pl/media/k2/items/cache/068055ed933d2e69cfeb9ff2d23bac50_M.jpg" 
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot (900 g) </h5>
				<p class="description"> 
					The rich variety of ingredients provides a mix full of different tastes and texture for an interesting meal every time. 
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$10</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
    <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="https://www.maxandmrau.pl/pol_pm_Vitapol-karma-pelnoporcjowa-dla-papugi-falistej-1kg-1284_1.jpg"
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot (900 g) </h5>
				<p class="description"> 
                    Add this scrumptious mix of exotic grains, legumes, fruits and vegetables to their daily feeding routine and help keep your bird in excellent health.
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$10</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
    <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src= "https://image.ceneostatic.pl/data/products/78982604/i-vitapol-karmeo-premium-pokarm-dla-duzej-papugi-2-5kg.jpg" 
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot (500 g) </h5>
				<p class="description"> 
                    Each and every bag contains the finest quality human grade ingredients to ensure your bird receives optimum nutritional value in each and every beak full.
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$7</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src= "https://www.crazyworldpets.pl/17304/vitapol-excellent-pokarm-dla-duzych-papug-500g.jpg" 
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot (500 g) </h5>
				<p class="description"> 
                    The wide array of ingredients which come in a variety of shapes and textures, provide your Parrot with a meal that is super tasty and fun to eat. 
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$7</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
    <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src= "https://pupilexpert.pl/img/products/45/06/2/1_max.jpg" 
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot (900 g) </h5>
				<p class="description"> 
                    It contains spirulina, a good bacteria that all humans and birds can enjoy. It’s one of the most nutrient rich foods in the world.
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$10</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
    <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src= "https://zoodom.pl/33078-large_default/vitapol-pokarm-dla-papugi-falistej-25kg-2168-.jpg" 
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot (250 g) </h5>
				<p class="description"> 
                    Contains only healthy, nutritious ingredients for your Parrot to enjoy each mealtime.
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$5</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src= "https://ezoo.pl/environment/cache/images/0_0_productGfx_030967715c0965e06a40f290c91894e3.jpg" 
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot (900 g) </h5>
				<p class="description"> 
                    Full of seeds, nuts and pods that Parrots love spending time on by using their skills to open and retrieve their tasty reward.
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
    <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src= "https://images.morele.net/i1064/1147856_0_i1064.jpg" 
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot</h5>
				<p class="description"> 
                    Fruit are made especially for Cockatiels and most other large Australian Parakeets. 
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$4</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
    <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src= "https://www.maxandmrau.pl/pol_pl_Vitapol-Kolby-Smackers-dla-Nimfy-Owocowe-2szt-2206-10828_1.jpg" 
            alt="..." class="img-responsive">
			<div class="caption">
				<h5> A low-fat, highly nutritious mix for your parrot</h5>
				<p class="description"> 
                    They come with a convenient hanger to attach them to the cage, providing fun for your bird by keeping their beak and mind active. 
				</p>
                <div class="clearfix">
                    <div class="price pull-left">$4</div>
                    <a href="#" class="btn btn-danger pull-right" role="button">Buy</a>
                </div>
			</div>
		</div>
	</div>
</div>